// Imports
@import-normalize;


// Tipografia
@font-face {
	font-family: 'Lato';
	src: 	url('../assets/fonts/Lato-Regular.woff2') format('woff2'),
				url('../assets/fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: 	url('../assets/fonts/Lato-Bold.woff2') format('woff2'),
				url('../assets/fonts/Lato-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


// Variáveis
$color-primary: #222;
$container: 1110px;
$header-size: 55px;
$radius: 4px;


// Breakpoints
$sm: 'min-width: 768px';
$md: 'min-width: 992px';
$lg: 'min-width: 1200px';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size: 16px;
}

h2 {
	margin-top: 0;
	font-size: 22px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

img {
	display: block;
}


// Button
.Button {
	display: inline-block;
	background: $color-primary;
	color: white;
	border-radius: $radius;
	border: none;
	padding: 10px 25px;
	font-size: 1rem;
	cursor: pointer;
	transition: all .25s;
	
	&--block {
		display: block;
		width: 100%;
	}
	&:hover {
		background-color: darken($color-primary, 7%);
	}
}
.Button[disabled] {
	opacity: 0.15;
	cursor: not-allowed;
}


// Form
.Form {
	display: flex;
	flex-direction: column;

	&__field {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		
		input,
		select {
			border-radius: $radius;
			border: 1px solid #ccc;
			padding: 10px;
			background: white;
			font-size: 1rem;
			margin-top: 5px;
		}

		select {
			display: block;
			width: 100%;
			height: 40px;
			line-height: 1.5;
			text-indent: 3px;
		}
	}
}

// Table
.Table {
	width: 100%;
	border-collapse: collapse;

	&__row {
		&--add td {
			color: #13CE66;
		}

		&--rem td {
			color: #FF4949;
		}
	}
	
	th {
		background: #eee;
		padding: 15px;
		text-align: left;
		text-transform: uppercase;
		font-size: 0.75rem;
		border: 1px solid #ccc;
	}
	td {
		padding: 8px 15px;
		border: 1px solid #ccc;
		vertical-align: middle;

		span {
			float: left;
		}
	}
	td:last-child,
	th:last-child {
		text-align: right;
		width: 25%;
		white-space: nowrap;
	}
	small {
		display: block;
		font-size: 0.75rem;
		color: rgba(black, 0.5)
	}
	tfoot {
		td {
			font-size: 20px;
		}
	}
}


// Icon
.Icon {
	display: inline-flex;
	
	&::after {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		position: relative;
		content: "";
		margin-right: 5px;
		background-position: center;
		background-size: cover;
	}
	&--add::after {
		background: url('../assets/images/plus.svg');
	}
	&--rem::after {
		background: url('../assets/images/minus.svg');
	}
}


// App
.App {
	overflow: hidden;
	padding-top: $header-size;

	@media($lg) {
		padding-top: 0;
	}
}


// Header
.Header {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	background: #eee;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-size;
	z-index: 100;
	
	@media($lg) {
		margin: 0 auto;
		height: $header-size * 1.5;
		position: static;
	}
	
	&__inner {
		height: 100%;
		display: flex;
		justify-content: space-between;
		max-width: $container;
		margin: 0 auto;
		padding: 0 20px;
		align-items: center;
	}

	&__name {
		font-size: 22px;
		flex: 1;
		text-align: center;
		
		@media($lg) {
			margin-left: 10px;
			text-align: left;
		}
	}
	&__menu {
		@media($lg) {
			overflow: hidden;
			border-radius: $radius;
		}
	}
}


// Navigation
.Navigation {
	&__toggle {
		width: 34px;
		height: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		z-index: 200;
		cursor: pointer;

		@media($lg) {
			display: none;
		}
	}
	&__toggle span {
		height: 3px;
		margin: 2.5px 0;
		display: block;
		background: $color-primary;
		transition: all .2s;
	}
	&__menu {
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;
		top: 0;
		right: -100%;
		height: 100vh;
		width: 86vw;
		background: $color-primary;
		z-index: 100;
		padding-top: ($header-size * 2);
		transition: all .25s;
		transition-delay: 0.15s;

		@media($lg) {
			justify-content: flex-end;
			position: static;
			width: auto;
			height: auto;
			display: flex;
			padding: 0;
			background: none;
		}

		@media($sm) {
			width: 400px;
		}
		
		a {
			display: block;
			text-align: right;
			text-decoration: none;
			color: white;
			font-size: 22px;
			padding: 15px 20px;
			transition: all .25s;
			
			@media($lg) {
				background: white;
				font-size: 18px;
				padding: 15px 20px;
				color: $color-primary;
				margin-left: 1px;
			}
			
			&:hover {
				background: rgba(white, .75);
				color: $color-primary;
			}
		}
	}
	&__active {
		.Navigation__menu {
			right: 0;
		}
		.Navigation__toggle {
			span {
				background: white;
			}
			span:nth-child(1) {
				transform: rotate(45deg) translate(6px, 4px);
			}
			span:nth-child(2) {
				opacity: 0;
			}
			span:nth-child(3) {
				transform: rotate(-45deg) translate(6px, -5px);
			}
		}
	}
}


// Main
.Main {
	max-width: $container;
	margin: 0 auto;
	padding: 20px;

	@media($lg) {
		display: flex;	
	}
}


// TransactionForm
.TransactionForm {
	@media($lg) {
		background: #eee;
		border-radius: $radius*3;
		width: 40%;
		margin-right: 40px;
		padding: 30px;
	}

	@media($sm) {
		border: 1px solid #ccc;
		border-radius: $radius*3;
		padding: 20px;
	}

	h2 {
		display: none;

		@media($sm) {
			display: block;
		}
	}

	.Form {
		@media($sm) {
			flex-direction: row;
			flex-wrap: wrap;
		}

		@media($lg) {
			flex-direction: column;
		}
	}

	.Form__field {
		@media($sm) {
			margin-left: 10px;
			margin-right: 10px;
			flex: 1;
		}
	}

	.Form__end {
		@media($sm) {
			width: 100%;
			
			.Button {
				width: auto;
				margin: 20px 10px 0 auto;
			}
		}
	}
}



// TransactionList
.TransactionList {
	margin-top: 30px;
	padding-top: 30px;

	@media($lg) {
		border: none;
		margin: 0;
		border-radius: $radius*3;
		padding: 20px 0 30px 0;
		flex: 1;
	}
}
